body {
  /* Use a system font, if none are available use an available sans-sarif   font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      font-size: small;
   margin: auto;
   background-image: linear-gradient(to top, #43aa8b, #0095a6, #2c79a8, #64598a, #713e5a);
   background-size: cover;
 }

 h1{
    display: flex;
    justify-content: center; 
}

h2{
    display: flex;
    justify-content: center;
}
.cards {
   margin-top: -200px;
   margin-bottom: -200px;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}
h1 h2 {
    font-size: x-small;
}
h3 {
    font-size: x-small;
}

.decks {
    flex: 1;  
}

.draw {
    flex: 1;
}

.war {
    flex: 1;
}

#buttons {
    display: flex;
    justify-content: center;
    height: 7vh;
}
